fastapi==0.108.0
uvicorn==0.25.0
inject==5.0.0
python-multipart==0.0.6
coverage==6.3.2
httpx==0.26.0
openai==1.6.1
load_dotenv==0.1.0
pydantic-settings==2.1.0
pytz
psycopg2==2.9.9
langchain==0.1.0
langchain-experimental==0.0.49
babel==2.14.0